body {
  text-align: center;
}

#main{ 
    max-width: 100%;
    }

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  display: inline-block;
}
#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  max-width: 960px;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  img { 
    width: 100%;
  }

  #external-links ul {
    width: 100%;
    font-family: Arial;
  }
  
  h1 {
    font-size: .8em;
  }

 body {
    background-color: hotpink;
  }
}


