/* Horizontal center of octopus image */
body {
	
}

#octopusdiv { max-width: 100%;
	display: block;
	
	
}

#octopus { 
  display: inline-block;
  margin: 0 auto;
  width: 30%;
  position: relative;
  z-index: 1;}

 #glasses {
 
  padding-top: 100px;
  padding-bottom: 70px;
  padding-right:30px;
  padding-left: 80px;
  margin: auto;
  width: 20%;
  
  z-index: 3;}

 #hat {
 
  padding-top: 0px;
  padding-bottom: 100px;
  padding-right:30px;
  padding-left: 90px;
  margin: auto;
  width: 30%;
 
  z-index: 4;}

 }

 

/*Postioning glasses and hat on the octopus*/